{% extends 'base.html.twig' %}

{% block body %}
	<h1><img src="/images/icons8-cuisinier-homme-100.png" alt="logo Multilingual Cooking Recipe Generator"/>
		Multilingual Cooking Recipe Generator</h1>
{% endblock %}
